# Ignore Visual Studio folders
.vs/
*.vsidx
*.suo
*.cache
*.db

# Ignore build output folders
bin/
obj/
*.pdb
*.exe
*.dll
*.log
*.nuget/

# Ignore user-specific settings
*.user
*.userossc
*.sln.cache

# Ignore EF Migrations folder if not needed
Migrations/
